.satu {
    width: 100px;
    height: 100px;
    background-color: greenyellow;
}

.dua {
    width: 60px;
    height: 60px;
    background-color: yellow;
    margin-top: -30px;
}

.tiga {
    width: 30px;
    height: 30px;
    background-color: lightcoral
}