* {
    padding: 0;
    margin: 0;
}

/* Font 
15px = Ukuran Font
30px = Jarak baris atas bawah antara teks lain
arial, sans-serif = Font yang digunakan */
body { 
    font: 15px/30px arial, sans-serif;
    background-color: #ffe7f4;
    background-image: url(../Images/Kertas.jpg);
    background-blend-mode: multiply;
}

.container {
    background-color: #e0cbcb;
    width: 1000px;
    margin: auto;
    padding: 30px;
    box-sizing: border-box;
    height: auto;
    border-left: 2px solid rgb(105, 0, 105);
    border-right: 2px solid rgb(105, 0, 105);
}

.header .menu li {
    display: inline-block;
    margin-right: 10px;
}

.judul {
    margin-bottom: 20px;
    font-size: 50px;
    color: white;
}

.header .judul .Diandra {
    color: rgb(71, 1, 44);
}

.header .menu a {
    text-decoration: none;
    color:rgb(109, 0, 119);
    padding: 2px;
}

.header .menu a:hover {
    color: rgb(255, 255, 255);
}

.gambar {
    background-image: url(../Images/Osu.png);
    background-size: 1100px;
    background-position-x: -100px;
    height: 600px;
    margin-top: 35px;
}

.main {
    margin-top: 20px
}

.judul-utama {
    font-size: 50px;
    line-height: 55px;
    color: rgb(17, 0, 31);
    letter-spacing: 0.1px;
    word-spacing: 1px;
    font-weight: bolder;
}

.author {
    margin-top: 10px;
    font-size: 18px
}

.nama-author a{
    text-decoration: none;
    color: rgb(15, 0, 155);
    font-weight: bolder;
}

.paragraf {
    margin-top: 40px;
    font-size: 18px;
    text-align: justify;
}

.nama-osu {
    font-weight: bolder;
    color: red;
}

p {
    margin-top: 20px
}

.footer {
    padding: 15px;
    text-align: center;
    background-color: rgb(48, 48, 48);
    color: white;
}

.akhir {
    margin-bottom: 100px
}