/* First vhild & Last Child & Nth-child
 .hello:link {
    color: black;
}

p:nth-child(odd) b {
    color: red;
}

p:nth-child(even) b {
    color: blue;
} */

.parag:first-of-type {
    color: red;
}