.title {
  margin-top: 150px;
  font-size: 2rem;
  width: 66vw;
  line-height: 80px;
}

.title h1 b a {
  color: #ff00bf;
  text-decoration: none;
}
.title h1 b a:hover {
  color: #ff3bce;
}

.title span {
  font-size: .75em;
  color: #00ffff;
  font-weight: 500;
}

.main {
  text-align: center;
  justify-content: center;
  display: flex;
}