:root {
  font-family: "Poppins", sans-serif;
  --main-color: #06396b;
  --light-color: #ffdcf6;
  --stdligt-color: #0A97B0;
  --std-color: #0A5EB0;
  --bg-color:  #17182e;
  font-size: 20px;
}

* {
  padding: 0;
  margin: 0;
  color: white;
  box-sizing: border-box;
}

body {
  background-color: var(--bg-color);
}