/* Settings */
* {
  padding: 0;
  margin: 0;
}

:root, html {
  --bg: rgb(54, 4, 50);
  --pink: rgb(233, 58, 189);

  font-size: 18px;
  font-family: 'Montserrat', sans-serif;
}

body {
  background-color: var(--bg);
  color: white;
  padding: 20px;
}

img, .link-download video {
  width: 400px;
}

.container {
  margin-bottom: 50px;
  filter: drop-shadow(4px 4px 3px rgba(0,0,0,.2));
}

/* Style Content */

.container .main-content-mita {
  width: 90%;
  margin: 0 auto;
}

/* Header */
.header {
  text-align: center;
}

.header h1 {
  font-size: 4rem;
  letter-spacing: 2px;
}

.header p a {
  color: white;
  font-weight: 600;
}

.header p {
  font-size: .9rem;
}


/* Main */

/* Biodata Mita */

.main .biodata-mita .profile {
  border-radius: 20px;
  transform: scale(1);
  transition: .4s ease;
}

.main .biodata-mita .profile:hover {
  transform: scale(1.1);
}

.main .biodata-mita {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  align-items: center;
  padding: 60px;
  gap: 20px;
}

.main .biodata-mita .mita-data {
  list-style: none;
  line-height: 48px;
  font-size: 1.5rem;
  align-content: center;
  transform: scale(1);
  transition: .5s ease;
}

.main .biodata-mita .mita-data:hover {
  transform: scale(1.08);
}

.main .biodata-mita .mita-data li span {
  font-weight: 600;
}


/* Tentang Mita */
.main .tentang-mita {
  font-size: 1.5rem;
}

.main .tentang-mita h2 {
  text-align: center;
  padding: 20px;
}

.main .tentang-mita h2 span {
  font-weight: 300;
}

.main .tentang-mita p {
  font-size: .75em;
  margin-bottom: 26px;
  line-height: 30px;
  text-align: justify;
}

.main .tentang-mita p span {
  font-weight: bold;
  color: var(--pink)
}


/* Link Download */
.main .link-download {
  overflow: hidden;
  position: relative;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(auto-fit, 1fr);
  place-items: center;

  background-position: center;
  background-size: cover;
  background-image: url(../Gambar/Mita-Walpapper2-Strecth.png);
  border-radius: 10px;
  /* transform: scale(1.02) translateY(10px); */
}


.main .link-download .steam h3, .main .link-download .steamunlocked h3 {
  padding: 10px;
  font-weight: 500;
}

.main .link-download .steam, .main .link-download .steamunlocked {
  filter: drop-shadow(4px 4px 3px rgba(0,0,0,.3));
  padding: 60px;
  text-align: center;
  transform: scale(1);
  transition: .2s;
}

.main .link-download .steam:hover, .main .link-download .steamunlocked:hover {
  transform: scale(1.15);
}


/* Video Background */
.main .link-download video {
  position: absolute;
  width: 100%;
}


/* Responsives */
@media screen and (max-width: 1100px) {
  :root, html {
    font-size: 15px;
  }
  
  .main .biodata-mita {
    grid-template-columns: 1fr;
  }
}

@media screen and (max-width: 792px) {
  :root, html {
    font-size: 12px;
  }
  
  .main .biodata-mita {
    grid-template-columns: 1fr;
  }

  .main .link-download .steam, .main .link-download .steamunlocked {
    transform: scale(.8);
  }

  .main .link-download .steam:hover, .main .link-download .steamunlocked:hover {
    transform: scale(1);
  }
}