* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    color: white;
}

nav {
    display: fixed;
}

.navbar .website {
    text-decoration: none;
}

.navbar {
    background-color: rgb(63, 131, 177);
    display: flex;
    padding: 10px 20px;
    width: 100%;
    height: 10vh;
    justify-content: space-between;
    align-items: center;
}

.logo {
    display: flex;
    font-weight: 700;
    font-size: 1.5rem;
}

.logo .firstname {
    margin-right: 8px;
    position: relative;
    color: rgb(16, 13, 53);   
}

.logo .lastname {
    color: white;
    font-weight: 400;
}

.menu ul {
    display: flex;
    list-style: none;
}

.menu ul li {
    padding: 18px;
    align-content: center;
    transform: scale(1);
    font-weight: 400;
    transition: .5s;
}
.menu ul li:hover {
    font-weight: 600;
    transform: scale(1.05);
}

.menu ul li a {
    text-decoration: none;
    font-size: 1.05rem
}

.menu ul li a:hover {
    color:rgb(65, 233, 255);
    transition: .1s;
}

.menu ul li a .profile {
    width: 50px;
    height: 50px;
    background-image: url(../Gambar/Artemis-Kawaii.png);
    background-size: cover;
    border-radius: 100px;
    margin-bottom: -5px;
}

.menu ul li a.bolder {
    background-color: rgb(77, 170, 231);
    padding: 10px;
}
.menu ul li a.bolder:hover {
    background-color: rgb(0, 100, 167);
    padding: 10px;
    color: rgb(46, 248, 255);
}