* {
    padding: 0;
    margin: 0;
}

body {
    background-color: #500073;
    font-family: arial, sans-serif;
    
    height: 100vh;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container {
    text-align: center;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    margin-top: 200px;
    
}

.container .profile{
    background-image: url('Mita-shy.jpg');
    background-position: center;
    background-size: cover;
    
    width: 200px;
    height: 200px;
    
    animation: profile 3s alternate infinite ;
    
    box-shadow: 8px 8px 15px rgba(0,0,0,.3);
}

.container .name {
    color: white;

    font-size: 2.6rem;
    letter-spacing: 5px;
    
    padding: 14px;
}

.container .pesan{
    color: white;
    
    font-size: 0.8rem;
    letter-spacing: 1.3px;
    
    padding: 20px 0;
}

.container .congrats {
    color: white;
    
    font-size: 2rem;
    padding: 20px;
}

.container .name a {
    color: white;
    
    text-decoration: none;
    
    position: relative;
}

.container .name a::after {
    position: absolute;
    left: 0;
    top: 45px;
    
    content: '';
    background-color: white;
    width: 100%;
    height: 4px;
}

@keyframes profile {
    from {
        border-radius: 20px;
    }
    
    to {
        border-radius: 40px;
    }
}


.video-mita iframe {
    width: 100%;
}

.video-mita {
    padding: 40px 0 0 0;
    
    display: flex;
    flex-direction: column;
}


/* She owns this song*/
.video-mita h1 {
    color: white;
    
    text-align: center;
    font-size: 1.3rem;
    font-weight: 300;
    
    padding: 16px;
}

.video-mita h1 span {
    font-size: 0.95em;
}
