* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    padding: 10px;
    background-color: rgb(156, 32, 156);

    height: 100vh;

    font-family: arial,sans-serif;
}

.kontak {
    float: left;
    margin: 10px;
    width: 600px;
    padding: 5px;
    background-color: rgb(224, 224, 224);
    border-radius: 30px;
    overflow: hidden;
    filter: drop-shadow(2px 3px 2px rgba(0, 0, 0, 0.342));
    font-size: 1rem;

    display: flex;
    justify-content: space-between;
    align-items: center;

    text-align: center;
}

.information {
    display: grid;
}

.close {
    margin-right: 50px;

    font-weight: 900;
    font-size: 1.4em;

    cursor: pointer;
    color: rgb(0, 0, 0);
}

.close:hover {
    color: red;
}

.profile {
    border-radius: 1.5em 1em 1em 1.5em;
}

.information .username {
    font-size: 1.6em;
    font-weight: 600;
    letter-spacing: 3px;
}

.information .numberTlp {
    font-size: 1.5em;
    color: rgba(0, 0, 0, 0.486);
}

.information > * {
    padding: 2px;
}