* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(255, 255, 255);
}

img {
    width: 300px;
    height: 300px;
}

.container {
    display: grid;
    justify-content: center;
    align-items: start;
    grid-template-columns: 1fr 1fr;
    gap: 5px;
}

.images .thumb {
    width: 100%;
    height: 100%;
    transition: all .3s ease-out;
    cursor: pointer;
}

.images .thumb:hover {
    opacity: .8;
}

.images {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    height: 100vh;
    gap: 5px;
    overflow: scroll;
}

.preview {
    width: 100%;
    height: 100vh;
}


@keyframes fadeIn {
    to {
        opacity: 1;
    }
}

.fadeIn {
    opacity: 0;
    animation: fadeIn .5s forwards;
}

.active {
    opacity: .6;
}